{{#each this}}
<div class="photo-card">
    <img src="{{this.webformatURL}}" alt="{{this.tags}}" loading="lazy" />
    <div class="info">
        <p class="info-item">
            <b>{{this.likes}}</b>
        </p>
        <p class="info-item">
            <b>{{this.views}}</b>
        </p>
        <p class="info-item">
            <b>{{this.comments}}</b>
        </p>
        <p class="info-item">
            <b>{{this.downloads}}</b>
        </p>
    </div>
</div>
{{/each}}

